.Case-Container {
    display: flex;
    justify-content: center;
    height: 100vh;
  }

.Case-Form input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    margin-right: 10rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

.datetime-container{
    display: flex;
    align-items: center;
    margin: auto;
  }

  .logo-sq{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 0;
  }

  .logo-sq img{
    width: 375px;
    height: auto;
    display: block;
    margin-left: 0;
  }