.fp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.Submit-button {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #22303E;
    color: #fff;
  }

  .fp-form input {
    display: block;
    width: 400px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }