.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img{
  max-width: 500px;
  height: auto;
  object-fit: contain;
}

.register-form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #22303E;
  color: #fff;
}

.backto-login {
  text-align: right;
}

.dialog-success{
  font-size: 30px;
}