.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #f5f5f5;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

.login-form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-login-button {
  width: 100%;
  margin-bottom: 1rem;
  background-color: #3d5b7c;
  color: #fff;
}

.login-form a {
  color: #3d5b7c;
  text-decoration: none;
}

.login-form a:hover {
  text-decoration: underline;
}

.register-links {
  text-align: right;
}
.forgot-password-links {
  text-align: right;
}